/* general page setup */
*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #F2EDED;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

h1 {
    color: #1C1A1A;
    font-size: 50px;
}

h2{
    color: #1C1A1A;
    font-size: 40px;
}

p {
    color: #8756CD;
    font-size: 25px;
}
nav a{
    color:#7543B3;
    text-decoration: none;
}

/* navigation bar */
nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
    position: relative;
}
#menu {
    font-size: 20px;
    list-style: none;
    display: flex;
    list-style-type: none;
    gap: 25px;
    padding: 0;
}

/* Welcome message/ image */
#mainphoto{
    display: flex;
    width: 200px;
    border: #7543B3 solid;
    border-radius: 100px;
    padding: 5px;
    margin: 20px;
}
#myName{
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}
#welcome{
    justify-content: center;
}

/*About me project list, contact info*/
#aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
}
#projectList{
    list-style: none;
    color: #1C1A1A;
}
.pList{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #8756CD;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
#textrpg, #mybvc{
    width: 150px;
}
#rpglink{
    color: #1C1A1A;
    text-decoration: none;
}
#socialLinks{
    display: flex;
    align-items: center;
}
.logos{
    width: 200px;
}
